

<!-- <h1>Welcome to <%= @crm_app_name %>!</h1>
<p>Main menu</p>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/contacts/new">Add new contact</li>
</ul> -->

<header>
  <h1 class = "title">Bitmaker CRM</h1>
</header>
<nav>
  <ul class = "nav-list">
    <li class = "nav-items"><a href="/contacts">Home</a></li>
    <li class = "nav-items"><a href="/contacts/new">Add new contact<a/></li>
    <li class = "nav-items"><a href=#>About<a/></li>


  </ul>
</nav>
<!-- <main>

</main>
<<footer>

</footer> -->
