*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  /*line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
  /*border: 100px solid orange;*/
}

.title {
  text-align: center;
  background-color: black;
  color: white;
  margin-bottom: 2px;
}

.nav-list {
  padding: 0;
  margin-top: 2px;
}

.nav-items {
  background-color: grey;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  margin-bottom: 2px;
}

a {
  text-decoration: none;
  color: white;
}
